<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    

  </system.web>
  <system.webServer>

    <security>

      <ipSecurity allowUnlisted="true">
        <clear/>

        <add ipAddress="104.24.127.36"/>

        <add ipAddress="5.79.72.8" />

        <add ipAddress="89.163.227.240" />

        <add ipAddress="198.11.248.8" />



        <add ipAddress="88.208.24.56" />

        <add ipAddress="213.174.129.177" />


        <add ipAddress="208.82.16.68" />

        <add ipAddress="104.28.31.45" />


        <add ipAddress="109.236.89.168" />
        <add ipAddress="78.140.169.97" />
        
        <!--<add ipAddress="143.95.37.246" />
        <add ipAddress="69.194.143.64" />
        
        <add ipAddress="66.6.41.21" />
        <add ipAddress="178.33.255.97" />-->



        <add ipAddress="61.135.185.17" />


        <add ipAddress="137.116.162.148" />

      


        <add ipAddress="109.73.164.17" />

        <add ipAddress="198.11.132.30" />


        <add ipAddress="54.164.54.61" />
        <add ipAddress="104.18.34.43" />
        <add ipAddress="101.78.207.24" />
        <add ipAddress="213.174.130.56" />
     
       <!--<add ipAddress="123.150.182.226" />
        <add ipAddress="180.76.2.36" />-->


        <add ipAddress="91.184.51.25" />

        <add ipAddress="213.174.129.181" />

        <add ipAddress="174.139.186.157" />


        <add ipAddress="141.101.121.60" />

        <add ipAddress="66.96.147.128" />


        <add ipAddress="59.106.195.179" />

        <add ipAddress="50.22.199.112" />
        <add ipAddress="192.185.171.240" />


        <add ipAddress="64.13.232.232" />
        <add ipAddress="198.11.132.241" />
        <add ipAddress="96.17.182.16" />
        <add ipAddress="162.159.247.154" />



        <add ipAddress="109.206.165.124"/>
        <add ipAddress="184.168.221.15"/>
        <add ipAddress="173.214.255.67"/>
        <add ipAddress="50.62.160.105"/>
        <add ipAddress="162.244.34.101"/>
        <add ipAddress="174.129.205.149"/>
        <add ipAddress="46.229.162.125"/>
        <add ipAddress="173.214.252.99"/>
        <add ipAddress="82.80.221.158"/>
        <add ipAddress="199.59.160.184"/>
        <add ipAddress="69.64.41.114"/>
        <add ipAddress="85.17.29.102"/>
        <add ipAddress="173.214.252.95"/>
        <add ipAddress="213.174.130.194"/>
        <add ipAddress="194.145.208.191"/>
        <add ipAddress="173.214.252.107"/>







      </ipSecurity>

    </security>
    
    
    <rewrite>
      
     


         <!--<rule name="RequestBlockingRuleOne" patternSyntax="Wildcard" stopProcessing="true">
<match url="*" />
<conditions>
<add input="{HTTP_REFERER}" pattern="*blackhatworth.com*" negate="false" />
</conditions>

</rule>

        <rule name="RequestBlockingRuleTwo" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="*http://blackhatworth.com/*" negate="false" />
          </conditions>
          
        </rule>

        <rule name="RequestBlockingRuleThree" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="http://blackhatworth.com/marketing/*" negate="false" />
          </conditions>
         
        </rule>


        <rule name="RequestBlockingRulefour" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="http://hulfingtonpost.com/*" negate="false" />
          </conditions>
          
        </rule>


        <rule name="RequestBlockingRulefive" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern="http://activities.aliexpress.com/computers_channel.php?aff_platform=aaf&sk=vV3B2RJYB%3A&cpt=1421385236424&null/*" negate="false" />
          </conditions>
         
        </rule>-->



      <rules>
          <rule name="Redirecteducation" stopProcessing="true">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="education.html" />
              <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.deaninfotech.com/education" />
            </conditions>
            <action type="Redirect" url="http://www.deaninfotech.com/CRM" />
          </rule>
       
     



        <rule name="RemoveASPX" enabled="true" stopProcessing="true">
          <match url="(.*)\.html" />
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="AddASPX" enabled="true">
          <match url=".*" negate="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}.html" />
        </rule>
        <rule name="redirect index.html" stopProcessing="true">
                    <match url="^(\w*/)?index\.html" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="deaninfotech\.com$" />
                    </conditions>
                    <action type="Redirect" url="http://www.deaninfotech.com/{R:1}" />
                </rule>
      <rule name="Redirect to Main" stopProcessing="false">
<match url="(.*)" />
<conditions>
<add input="{HTTP_HOST}" pattern="^deaninfotech.com$" />
</conditions>
<action type="Redirect" url="http://www.deaninfotech.com/{R:0}" />
</rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-Powered-By" value="ASP.NET" />
            </customHeaders>
        </httpProtocol>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" path="http://www.deaninfotech.com/" responseMode="Redirect" />
        </httpErrors>
    

    
    
    

  </system.webServer>

  <!--<location path="education.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.deaninfotech.com/CRM.html" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>-->

</configuration>